Django==2.2.17
psycopg2==2.8.4
djangorestframework==3.11.0
markdown==3.1.1
django-filter==2.2.0
Pillow==9.0.1
django-rest-auth==0.9.5
django-cors-headers==3.2.1
django-admin-list-filter-dropdown==1.0.3
celery==4.4.0
redis==3.3.11
django-celery-results==1.1.2
django-summernote==0.8.11.6
pyTelegramBotAPi==3.6.7
admin-totals==1.0.1

# Debuging tools
django_silk==4.0.0               # https://github.com/jazzband/django-silk
sentry-sdk                       # https://docs.sentry.io/platforms/python/
