Django==2.2.8
psycopg2==2.8.4
djangorestframework==3.11.0
markdown==3.1.1
django-filter==2.2.0
Pillow==7.0.0
django-rest-auth==0.9.5
django-cors-headers==3.2.1
django-admin-list-filter-dropdown==1.0.3
celery==4.4.0
redis==3.3.11
django-celery-results==1.1.2
django-summernote==0.8.11.6